input.btnSupprimer{
    border: 0;
    display: block;
    padding: 1em 3em;
    background: rgba(230, 35, 10, 0.726);
    color: rgb(229, 239, 247); 
    margin-bottom: 1em;
    cursor: pointer;
    margin-left: 10px ; 
}

input.btnModifier{
    border: 0;
    display: block;
    padding: 1em 3em;
    background: rgb(0, 107, 179) ; 
    color: rgb(229, 239, 247); 
    margin-bottom: 1em;
    cursor: pointer;
    margin-left: 10px ;
}

input.btnRetour{
    border: 0;
    display: block;
    padding: 1em 3em;
    background: yellow ; 
    color: rgb(229, 239, 247); 
    margin-bottom: 1em;
    cursor: pointer;
    margin-left: 10px ;
}

.btnDiv{
    margin-top: 15px;  
    display: flex ; 
}