<p style="font-weight: bold">
  Detail de l'activité:
</p>


<ol>
  <li>
    Nom de l'activité : <span *ngIf="!modifier"><b>{{monParam}}</b></span>
                        <input *ngIf="modifier" type="text" [value]="monParam" name="champModifier" [(ngModel)]="monParam">
  </li>
  <li *ngIf="monParam1">
    Paramètre 2 transmis : {{monParam1}}
  </li>


  <div class="btnDiv">
  <input type="button" value="Supprimer" (click)="removeElem(indice)" class="btnSupprimer">
  <input *ngIf="modifier" type="button" value="Sauvegarder" (click)="sauvegarderElem(indice)" class="btnModifier">
  <input *ngIf="!modifier" type="button" value="Modifier" (click)="modifierElem(indice)" class="btnModifier">
  <input *ngIf="!modifier" type="button" value="Retour" (click)="retourHome()" class="btnRetour">
</div>

</ol>
